.col-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}

.col-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
.col-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}

.col-md-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}

.col-md-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}


.col-5, .col-6, .col-7, .col-md-5, .col-md-6, .col-md-7
{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

<style> 
        /* Columns */

        
        /* ****** */
        </style>
